body {
  padding: 10px 30px;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  color: #373737;
}

.section {
  padding: 20px;
}

.header {
  font-size: 16px;
}

.item {
  margin-top: 12px;
}

.title {
  font-size: 20px;
}

.title, .header {
  font-family: serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.2;
  color: black;
}

.contact {
  display: flex;
}
.contact .item {
  margin-right: 12px;
}
.item-addition {
  margin-left: 12px;
}
